.EventPage{
       display: flex;
       flex-direction: column;
}
.EventArea{
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    height: 100%;
    justify-content: space-evenly;
    justify-items: center;
}
.Avatar{
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: beige;
    
}
.Avatar:hover{
    box-shadow: 0 2px 8px rgba(7, 69, 184, 0.973);
}